body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #b5e4f7;
}

.banner {
    background: url('https://png.pngtree.com/png-vector/20240224/ourmid/pngtree-cute-shark-cartoon-vector-png-image_11875645.png') no-repeat center center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(90, 143, 250);
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

nav {
    background: black;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav ul li a i {
    font-size: 1.2em;
}

.account-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
    gap: 20px;
}

.account-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.account-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 30px;
    font-size: 2em;
}
